<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ exercice.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-back-button>back</ion-back-button>
    <ion-button (click)="backButton()">Back</ion-button>
    <div class="image-container flex justify-center">
        <img [src]="exercice.gifUrl" alt="{{ exercice.name }}" />
    </div>
    <div class="bg-[#CFF8EB] mx-5 rounded-lg py-[20px] my-4">
        <h1 class="font-bold text-xl text-center">{{ exercice.name }}</h1>
        <div class="mt-5">
            <ion-grid class="text-center">
                <ion-row>
                    <ion-col class="flex justify-center"><img src="./../../../assets/equipement.png" /></ion-col>
                    <ion-col class="flex justify-center"><img src="./../../../assets/target.png" /></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Equipment:</ion-col>
                    <ion-col>Target:</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{ exercice.equipment }}</ion-col>
                    <ion-col>{{ exercice.target }}</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <p class="text-center mt-6">x{{rep}} Rep</p>
        <flx-circle-timer (click)="timer.start();countRep()" class="flex justify-center p-[-40px]" #timer color="#73E8C1" [duration]="duration" (onComplete)="onTimerComplete()">
            <div class="controls">
                <button type="button" [disabled]="timer.isTicking()" (click)="timer.start()"><ion-icon style=" color:#73E8C1" name="play" size="large"></ion-icon></button>
            </div>
        </flx-circle-timer>



    </div>
</ion-content>