<ion-header class="ion-no-border  my-3">
    <ion-toolbar class="flex justify-between">
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">{{ exercice.name }}</ion-title>
        <div slot="end" (click)="bookmark()" class="pr-4">
            <img [src]="exist?'./../../../assets/fullStar.png':'./../../../assets/star.png'" />
        </div>

        <!-- <ion-buttons slot="end" (click)="bookmark()" class="p-2">
            <ion-icon name="bookmark-outline" size="large" [class]="exist ? 'text-red-500' :''"></ion-icon>
        </ion-buttons> -->

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-back-button>back</ion-back-button>
    <ion-button (click)="backButton()">Back {{exist}}</ion-button>
    <div class="image-container flex justify-center ">
        <img [src]="exercice.gifUrl" alt="{{ exercice.name }}" />
    </div>
    <div class="bg-[#CFF8EB] mx-5 rounded-lg py-[20px] my-4 ">
        <h1 class="font-bold text-xl text-center mx-3">{{ exercice.name }}</h1>
        <div class="mt-5">
            <ion-grid class="text-center">
                <ion-row>
                    <ion-col class="flex justify-center"><img src="./../../../assets/equipement.png" /></ion-col>
                    <ion-col class="flex justify-center"><img src="./../../../assets/target.png" /></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Equipment:</ion-col>
                    <ion-col>Target:</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{ exercice.equipment }}</ion-col>
                    <ion-col>{{ exercice.target }}</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <p class="text-center mt-6">x{{rep}} Rep</p>
        <flx-circle-timer (click)="timer.start();countRep()" class="flex justify-center p-[-40px]" #timer color="#73E8C1" [duration]="duration" (onComplete)="onTimerComplete()">

        </flx-circle-timer>

        <div *ngIf="!timer.isTicking()" class="flex justify-center mt-[-70px] mb-[40px]">
            <button type="button" [disabled]="timer.isTicking()" (click)="timer.start()"><ion-icon class=" text-[#73E8C1] " name="play" size="large"></ion-icon></button>
        </div>



    </div>
</ion-content>