<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/img/img11.png" >

      <div class="slider-text">
        <h2>Be an inspiration ! </h2>

        <p>
          Be the example of what's possible with hard work and determination in your fitness journey.
        </p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/img/img12.png" >

      <div class="slider-text">
        <h2>commit to be fit !</h2>

        <p>
          Commit to your fitness goals, and become the best version of yourself.
        </p>
      </div>
      
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
      
    <ion-slide class="ion-padding">
      <div class="slider-text">
        <h2>Practice every day</h2>
        <p>
          and share your result
        </p>
      </div>

      <img src="../../assets/img/img13.png" >
 
      <ion-button (click)="register()">REGISTER</ion-button>
      <ion-button (click)="login()">LOG IN</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
