.calendar-month-grid button[disabled] {
    display: none !important;
}

:host .calendar-day[disabled] {
    display: none !important;
    background: #000;
}

ion-datetime {
    .calendar-day[disabled] {
        display: none !important;
    }
}

.hide {
    display: none !important;
}