/* /* .calendar-month-grid button[disabled] {
    display: none !important;
}

:host .calendar-day[disabled] {
    display: none !important;
    background: #000;
}

ion-datetime {
    .calendar-day[disabled] {
        display: none !important;
    }
}

.hide {
    display: none !important;
} */


/* 
table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    background-color: aquamarine;
}

th {
    font-weight: bold;
}

th,
td {
    padding: 8px;
}

td.today {
    background-color: #ccc;
}

td.selected {
    background-color: #eee;
    font-weight: bold;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}

tr:nth-child(n+2) {
    display: none;
}  */

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #2dd36f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.image-over-div {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}