<ion-header class="ion-no-border">
    <ion-toolbar class="toolBar">
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">{{bodyPart}} workouts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button detail="false" *ngFor="let exercice of ExrcicesList" lines="full" routerLink="/exercice-details" [state]="{ exercice}">
            <ion-avatar slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                <img [src]="exercice.gifUrl" alt="{{ exercice.name }}" (load)="onGifLoad($event, exercice)" />
                <canvas #canvas></canvas>
            </ion-avatar>
            <ion-label>
                <h2>{{ exercice.name }}</h2>
                <p>equipment: {{ exercice.equipment }}</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>