<ion-header>
    <ion-toolbar>
        <ion-title>exercices-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let exercise of ExrcicesList" lines="full">
            <ion-avatar slot="start">
                <img [src]="exercise.gifUrl" alt="{{ exercise.name }}">
                <canvas #canvas></canvas>
            </ion-avatar>
            <ion-label>
                <h2>{{ exercise.name }}</h2>
                <p>equipment: {{ exercise.equipment }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>