ion-avatar {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}

ion-item {
    padding: 8px;
}

canvas {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}

ion-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

img {
    display: none;
}