<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <table class="m-auto rounded-md">
        <thead>
            <tr>
                <th *ngFor="let day of days" class="font-bold m-5">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let date of dates" (click)="handleClick(date)" [ngClass]="{ 'current-day': isCurrentDay(date), 'selected-day': isSelectedDate(date) }">
                    <span class="date">{{ date.getDate() }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</ion-content> -->
<ion-header>
    <ion-toolbar>
        <ion-title>
            Week Calendar
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center">
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col *ngFor="let date of dates" size="2">
                <div class="day" [class.selected]="date.getTime() === selectedDate.getTime()" (click)="handleClick(date)" id="day-{{ date.getDay() }}">
                    <div class="day-name">{{ date | date: 'EEE' }}</div>
                    <div class="day-number">{{ date | date: 'd' }}</div>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>