/* table {
    width: 90%;
    border-collapse: collapse;
    th,
    td {
        text-align: center;
        padding: 8px;
        border: 1px solid #ccc;
    }
    th {
        background-color: #f2f2f2;
    }
    td {
        position: relative;
        .date {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.current-day::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            background-color: #007aff;
            border-radius: 50%;
        }
        &:hover {
            background-color: #f2f2f2;
        }
        // Add 5px margin to the left and right
        margin: 0 5px;
    }
}
 */

ion-content {
    --background: #f8f8f8;
}

ion-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


/* .day {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding-bottom: 20px;
    &.today {
        background-color: #79540c;
    }
} */

.day:hover {
    background-color: #f0f0f0;
}

.day.selected {
    background-color: #ffcc66;
}

table {
    table-layout: fixed;
    width: 90%;
    padding-bottom: 10px;
    th,
    td {
        text-align: center;
        padding: 8px;
        padding-bottom: 11px;
        &.today {
            border-radius: 50%;
            background-color: #79540c;
            padding: 0 5px;
            margin: 5px;
        }
        td.day {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    tbody {
        padding-bottom: 20px;
    }
}