.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-number {
    font-size: 18px;
}

.current-day .date-circle {
    background-color: #4de9b2;
    border: 2px solid #4de9b2;
    color: white;
}

.clicked-day .date-circle {
    background-color: #4de9b2;
    border: 2px solid #4de9b2;
    color: white;
}

ion-avatar {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}

ion-item {
    padding: 8px;
}

canvas {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}

ion-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.textTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
}

.description {
    font-size: 14px;
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

.exercice-image {
    display: none;
}