<ion-grid>
    <div class="bg-[#CFF8EB] py-3 mt-4 rounded-lg">
        <ion-row class="w-[360px] mt-5">
            <ion-col size="1">
                <ion-icon name="arrow-back" (click)="previousWeek()"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <h2 class="text-center">{{ currentDate | date:'mediumDate' }}</h2>
            </ion-col>
            <ion-col size="1">
                <ion-icon name="arrow-forward" (click)="nextWeek()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="text-center">
                <h3>{{ getCurrentDayName() }}</h3>
            </ion-col>
        </ion-row>
        <ion-row class="w-[360px] mt-3">
            <ion-col *ngFor="let day of weekDays">
                <h4 class="font-bold ml-1">{{ day | date:'EEE' }}</h4>
            </ion-col>
        </ion-row>
        <ion-row class="w-[360px]">
            <ion-col *ngFor="let date of weekDates">
                <div class="date-container" [class.current-day]="isCurrentDay(date)" [class.clicked-day]="isClickedDay(date)" (click)="onDateClick(date)">
                    <div class="date-circle">
                        <span class="date-number">{{ date | date:'d' }}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-grid>



<!-- <ion-header>
    <ion-toolbar>
        <ion-title>tab4</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <table class="calendar rounded-md mt-4">
        <thead>
            <tr>
                <th>
                    <button (click)="previousWeek()"><ion-icon name="arrow-back-outline"></ion-icon></button>
                </th>
                <th colspan="5">{{ startDate | date: 'longDate' }}</th>
                <th>
                    <button (click)="nextWeek()"><ion-icon name="arrow-forward-outline"></ion-icon></button>
                </th>
            </tr>
            <tr>
                <th *ngFor="let day of days">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of weeks">
                <td *ngFor="let day of week" [class.today]="isToday(day.date)" [class.selected]="isSelected(day.date)" (click)="selectDay(day.date)">

                    <div class="name font-bold">{{ day.date | date: 'EEE' }}</div>
                    <div class="date">{{ day.date | date: 'd' }}</div>
                </td>
            </tr>
        </tbody>
    </table>



</ion-content> -->
<!-- <ion-header>
    <ion-toolbar>
        <ion-title> Week Calendar </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <table class="m-auto rounded-md w-[90%] bg-[#CFF8EB] py-4 mt-4">
        <thead class="mt-4">
            <tr class="py-4 mb-5">
                <th *ngFor="let date of dates" class="font-bold">
                    {{ date | date: 'EEE' }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let date of dates" class="day mt-4" [class.selected]="date.getTime() === selectedDate.getTime()" (click)="handleClick(date)" id="day-{{ date.getDay() }}">
                    <div class="day-number text-center">{{ date | date: 'd' }}</div>
                </td>
            </tr>
            <tr>
                <td *ngFor="let date of dates">
                    <div class="h-[-3px]"></div>
                </td>
            </tr>
        </tbody>
    </table>
</ion-content> -->
<!-- <ion-content [fullscreen]="true" class="ion-padding">
    <ion-datetime #myDatetime presentation="date" color="teal" mode="ios" display-format="DD/MM/YYYY" min="2000" max="{{ maxDate }}" [yearValues]="yearValue" [(ngModel)]="selectedDate" (ionChange)="onDateChange()" [dayValues]="[1,2,3,4,5,6,7,8,9,10,11]" class="text-black h-[390px]"></ion-datetime>

    <ion-grid>
        <ion-col>
            <ion-row>
                <ion-text class="ion-text-capitalize">
                    <h3>{{currentDate }}</h3>
                </ion-text>
            </ion-row>
            <ion-row style="display: flex; align-items: center">
                <ion-icon name="calendar-clear-outline"></ion-icon>
                <ion-text class="ion-text-capitalize ion-margin-horizontal ion-text-center">
                    Pull Day
                </ion-text>
            </ion-row>

            <ion-list>
                <ion-item-sliding *ngFor="let workOut of workOutPerDay">
                    <ion-item class="padding-vertical" detail="true">
                        <ion-thumbnail item-left>
                            <img [src]="workOut.image" />
                        </ion-thumbnail>
                        <ion-label class="ion-margin-start">
                            <h2>{{workOut.name}}</h2>
                        </ion-label>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>
        </ion-col>
    </ion-grid>

    <ion-col> </ion-col>
</ion-content> -->