<ion-content [fullscreen]="true">
    <div class="h-auto">
        <div class=" flex mx-[12px] mt-5">
            <a [routerLink]='["/tabs/tab4"]'>
                <img src="./../../assets/avatar.png" class=" w-[50px]" />
            </a>
            <div>
                <h1>
                    Hello, <span class="font-bold">Name</span>
                </h1>
            </div>

        </div>



        <p class="ml-5 mb-3">Get ready for today's workouts!</p>
        <ion-searchbar placeholder="Search a workout" class="custom " (ionChange)="handleChange($event)" [(ngModel)]="search"></ion-searchbar>
    </div>

    <div class="scrolling-wrapper mx-[12px]">
        <a class="card w-[104px] flex bg-[#63c9a5] flex-col mr-5 my-3  justify-center rounded-md p-2 shadow-md" [routerLink]='["/exercices-list/chest"]'>
            <img src="./../../assets/bodyPart/chest.png" class="text-center" />
            <p class="text-center">Chest</p>
        </a>
        <div class="card w-[104px] flex bg-[#63c9a5] border-solid border-2 border-gray-00 flex-col mr-5 my-3 items-center justify-between rounded-md p-2" shadow-md [routerLink]='["/exercices-list/back"]'>
            <img src="./../../assets/bodyPart/back.png" />
            <p class="text-center">Back</p>
        </div>
        <div class="card w-[104px] flex bg-[#63c9a5] flex-col mr-5 my-3 items-center justify-between rounded-md p-2 shadow-md" [routerLink]='["/exercices-list/upper%20legs"]'>
            <img src="./../../assets/bodyPart/legs.png" />
            <p class="text-center">Legs</p>
        </div>
        <div class="card w-[104px] flex bg-[#63c9a5] flex-col mr-5 my-3 items-center justify-between rounded-md p-2 shadow-md" [routerLink]='["/exercices-list/waist"]'>
            <img src="./../../assets/bodyPart/abs.png" />
            <p class="text-center">Waist</p>
        </div>
        <div class="card w-[104px] flex bg-[#63c9a5] flex-col mr-5 my-3 items-center justify-between rounded-md p-2 shadow-md" [routerLink]='["/exercices-list/upper%20arms"]'>
            <img src="./../../assets/bodyPart/arms.png" />
            <p class="text-center">Arms</p>
        </div>
    </div>
</ion-content>