@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

ion-searchbar.custom {
    --background: #CFF8EB;
    --placeholder-color: #929191;
    --icon-color: #929191;
    --clear-button-color: #929191;
    --border-radius: 6px;
}

ion-searchbar {
    input {
        padding-top: 10px !important;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .card {
        display: inline-block;
    }
}