<ion-header [translucent]="true" class="ion-no-border mt-3">
    <ion-toolbar class="toolBar">

        <ion-title class="text-center ">
            Bookmarks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngIf="loading===false">


        <div *ngIf="ExeciseList.length===0" class="flex flex-col items-center justify-center h-full">
            <img src="./../../assets/img/empty_boookmark.png" />
            <p class="text-center ml-3">Add some exercises to your Bookmarks to access them later.</p>
        </div>

        <div *ngIf="ExeciseList.length>0">
            <div button detail="false" *ngFor="let exercice of ExeciseList" lines="full" class="parentItem">
                <ion-item-sliding>
                    <ion-item lines="none" routerLink="/exercice-details" [state]="{ exercice}">
                        <ion-avatar slot="start">
                            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            <img class="exerciseImage" [src]="exercice.gifUrl" alt="{{ exercice.name }}" (load)="onGifLoad($event, exercice)" />
                            <canvas #canvas></canvas>
                        </ion-avatar>
                        <ion-label>
                            <h2>{{ exercice.name }}</h2>
                            <p>equipment: {{ exercice.equipment }}</p>
                        </ion-label>
                        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item-options side="end" class="deleteOption" (click)="deleteExercice(exercice.key)">
                        <ion-item-option color="danger">
                            <ion-icon slot="start" name="trash"></ion-icon>
                            Delete
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </div>


    </ion-list>
    <div *ngIf="loading">

        <div class="spinner-container">
            <div class="spinner"></div>
        </div>

    </div>
</ion-content>