ion-avatar {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}


/* ion-item {
    padding: 8px;
} */

canvas {
    --border-radius: 12px;
    height: 100px;
    width: 100px;
}

ion-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

.exerciseImage {
    display: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

.parentItem {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-bottom: 1px solid #ebebeb;
    ion-item {
        margin: 0;
        padding: 0;
        .item-inner {
            margin: 0;
            padding: 0;
        }
        ion-item-options {
            margin: 0;
        }
    }
}

ion-item-sliding {
    width: 100%;
}

.item-inner {
    padding: 0;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #2dd36f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}