<ion-content class="ion-padding">
  <img src="../../assets/img/login_icon.png" alt="Description de l'image">
  <h1>Log In</h1>
  <br><br>
  <h3>Please Log in to continue!</h3>

  <form>
    <div class="form-field">
      <label label="Email ID" [ngClass]="focused ? 'label-focused' : ''">Email ID</label>
      <input label="Email ID" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" [type]="type" (focus)="focused = true" (blur)="onBlur($event)" />
    </div>
    <!-- <div class="form-field">
      <label label="Email ID" [ngClass]="focused ? 'label-focused' : ''">Password</label>
      <input label="Email ID" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" [type]="type" (focus)="focused = true" (blur)="onBlur($event)" />
    </div> -->
    <div class="form-field">
      <label label="password" position="floating" [ngClass]="focused ? 'label-focused' : ''">Password</label>
      <input label="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" maxlength="20" (focus)="focused = true" (blur)="onBlur($event)" />
    </div>
    <a routerLink="#" class="forgot-password-link">Forgot Password?</a>
    <br><br>
    <ion-button expand="block" (click)="loginWithEmail()">LogIn</ion-button>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <app-icon-button (click)="FacebookLogin()"  icon='logo-facebook' label='Connect with Facebook'></app-icon-button>
    <p class="footer-text">I'm a new user, <a routerLink="/register">Register Now</a></p>
  </form>

 
</ion-content>